#work{
  height: 80%;
  width: 60%;
  border: 1px solid black;
  display: none;
  z-index: 4;
  }
  Canvas {
    position: absolute;
    z-index: 100;
}
#mess{
  float: left;
}
  #stop{
    position: absolute;
    display: none;
  }
  #reload{
    position: relative;
    display: none;
  }

#anim{
    height: 80% ;
    width: 60% - 10px  ;
    border: 5px solid red;
    position: relative;
    bottom: -124px;
    z-index: 2;
    background-image: url(/Lab5Okr/152014.jpg);
    }
    #ball {
      border-radius: 10px;
      width: 20px;
      height: 20px;
      position: absolute;
      background-color: yellow;
    }
    #field{
    height: 100%;
    position: relative;
    z-index: 3;
    }
#close{
position: relative;
left: 35%;
}
  html, body{
    height: 100%;
  }
#container{
  position: relative;
  z-index: 1;
}
#first{
width: 448px;
height: 100px;
background-color: lightblue;
border: 1px solid black;
line-height: 100px;
}
#second{
  line-height: 120px;
  width: 80px;
  height: 125px;
  background-color: rgb(238, 208, 152);
  border: 1px solid black;
}
#third{
  text-align: center;
  margin-right: 180px;
  margin-left: 81px;
  margin-top: -127px;
  width:245px;
  height: 250px;
  background-color: white;
  border: 1px solid black;
}
#fourth{
text-align: right;
line-height: 390px;
margin-top: -252px;
margin-left: 328px;
width: 120px;
height: 399px;
background-color: rgb(238, 208, 152);
border: 1px solid black;
}
#fifth{
  line-height: 120px;
  margin-top: -274px;
  width: 79px;
  height: 124px;
  background-color: rgb(165, 221, 175);
  border: 1px solid black;
}
#sixth{
  padding-right: 5px;
  line-height: 147px;
  text-align: right;
  margin-top: -2px;
  height: 147px;
  width: 321px;
  background-color: lightblue;
  border: 1px solid black;
}
#x{
background-color:white;
margin-right: 1500px;
margin-top: -57px;
float:right;
width: 50px;
height: 20px;
border: 1px solid black;
}
#y{
  text-align: right;
  background-color:white;
  margin-right: 1830px;
  margin-top: -87px;
  float:right;
  width: 50px;
  height: 20px;
  border: 1px solid black;
}
.edit-td .edit-area {
  border: none;
  margin: 0;
  padding: 0;
  display: block;

  /* отключаем изменение размера мышью в Firefox */
  resize: none;

  /* удаляем обводку при фокусировке в Chrome */
  outline: none;

  /* удаляем полосу прокрутки в IE */
  overflow: auto;
}

.edit-controls {
  position: absolute;
}

.edit-td {
  position: relative;
  padding: 0;
}
